# Code static analysis
pep8==1.7.1
flake8==3.7.9
flake8-blind-except==0.1.1
flake8-debugger==3.2.1
flake8-import-order==0.18.1
flake8-docstrings==1.5.0
flake8-print==3.1.4
flake8-quotes==2.1.1
flake8-string-format==0.2.3
pep8-naming==0.9.1
