# Code static analysis
pep8==1.7.0
flake8==3.5.0
flake8-blind-except==0.1.1
flake8-debugger==1.4.0
flake8-import-order==0.13
flake8-docstrings==1.1.0
flake8-print==2.0.2
flake8-quotes==0.11.0
flake8-string-format==0.2.3
pep8-naming==0.4.1
